<script>
  import { onMount, getContext } from "svelte";
  import { t } from "../langs/i18n";

  const { getTl } = getContext("tatal");
  const timeline = getTl();

  onMount(() => {
    timeline.to("#post .wip", {
      duration: 1,
      scale: 1.5,
      scrollTrigger: {
        trigger: "#post",
        start: "top top",
        end: "+=200%",
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
    });
  });
</script>

<!-- TODO: Add GIF on how to post intro thread -->
<section id="post" class="bg-gradient-to-b from-[#15766C] to-[#2E9D1C] overflow-hidden">
  <div class="wip absolute w-screen text-xl font-bold text-center text-white text-shadow-xl transform -rotate-3">{$t("nav.post")}</div>
</section>

<!-- LINKTO: https://dragonforce.io/forums/introduction.37/post-thread -->