<script>
  import { onMount, getContext } from "svelte";
  import { t } from "../langs/i18n";

  const { getTl } = getContext("tatal");
  const timeline = getTl();

  onMount(() => {
    timeline.to("#profile .wip", {
      duration: 1,
      scale: 1.5,
      scrollTrigger: {
        trigger: "#profile",
        start: "top top",
        end: "+=200%",
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
    });
  });
</script>

<!-- TODO: Design and add image [?] folder with clipped blank passport photo -->
<section id="profile" class="bg-gradient-to-b from-dark-900 to-[#15766C] overflow-hidden">
  <div
    class="wip absolute w-screen text-xl font-bold text-center text-white text-shadow-xl transform rotate-5"
  >
    {$t("nav.profile")}
  </div>
  <img
    class="profile-folder absolute -bottom-3/12 md:w-1/2 md:-bottom-6/12"
    src="./images/dfm-intro-profile.png"
    alt="profile folder"
  />
</section>
