<script>
  import { onMount, getContext } from "svelte";
  import { t } from "../langs/i18n";

  const { getTl } = getContext("tatal");
  const timeline = getTl();

  onMount(() => {
    timeline.to("#radio .wip", {
      duration: 1,
      scale: 1.5,
      scrollTrigger: {
        trigger: "#radio",
        start: "top top",
        end: "+=200%",
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
    });
  });
</script>

<!-- TODO: Design and add image related to radio -->
<section id="radio" class="bg-gradient-to-b from-[#2E9D1C] to-[#87B320] overflow-hidden">
  <div class="wip absolute w-screen text-xl font-bold text-center text-white text-shadow-xl transform rotate-2">{$t("nav.radio")}</div>
</section>

<!-- LINKTO: https://radio.dragonforce.io/ -->
<!-- LINKTO: https://dfm-radio.m0na.ga/ -->