<script>
  import { onMount, getContext } from "svelte";
  import gsap from "gsap";
  import { t } from "../langs/i18n";
  import translations from "../langs/translations";

  const { getTl } = getContext("tatal");
  const timeline = getTl();

  //Get rules key list
  let rules = Object.keys(
    Object.fromEntries(
      Object.entries(translations["en"]).filter(([key]) =>
        key.includes("rules.")
      )
    )
  );

  //Strip rules number
  let ruleNum = (rule) => rule.substr(-2, 2);
  //Regex rules group name
  let ruleGroup = (rule) => "rule.group." + rule.match(/\.(.*)\./)[1];

  //Random color picker
  let colorLookup = [];
  let color = [
    "pink",
    "rose",
    "red",
    "orange",
    "yellow",
    "amber",
    "lime",
    "green",
    "emerald",
    "teal",
    "cyan",
    "sky",
    "blue",
    "indigo",
    "purple",
    "violet",
    "fuchsia",
  ];

  for (let i = 0; i < rules.length; i++) {
    let pickColor = color[Math.floor(Math.random() * color.length)];
    colorLookup.push(pickColor);

    // FIXME: Never get same color in a row
    // let randNum = Math.floor(Math.random() * color.length);
    // let pickColor =
    //   i == 0
    //     ? color[randNum]
    //     : color[randNum] != colorLookup.at(i - 1)
    //     ? color[randNum]
    //     : randNum == 0
    //     ? color[randNum++]
    //     : color[randNum--];
    // colorLookup.push(pickColor);
  }

  onMount(async () => {
    //Right images panel
    gsap.set(".panel", { zIndex: (i, target, targets) => targets.length - i });

    var images = gsap.utils.toArray(".panel:not(.last)");

    images.forEach((image, i) => {
      var tl = gsap.timeline({
        scrollTrigger: {
          trigger: "#rules",
          start: () => "top -" + window.innerHeight * (i + 0.5),
          end: () => "+=" + window.innerHeight,
          scrub: true,
          toggleActions: "play none reverse none",
          invalidateOnRefresh: true,
        },
      });

      tl.to(image, { height: 0 });
    });

    //Left text panel
    gsap.set(".panel-text", {
      zIndex: (i, target, targets) => targets.length - i,
    });

    var texts = gsap.utils.toArray(".panel-text");

    texts.forEach((text, i) => {
      var tl = gsap.timeline({
        scrollTrigger: {
          trigger: "#rules",
          start: () => "top -" + window.innerHeight * i,
          end: () => "+=" + window.innerHeight,
          scrub: true,
          toggleActions: "play none reverse none",
          invalidateOnRefresh: true,
        },
      });

      tl.to(text, { duration: 0.33, opacity: 1, y: "50%" }).to(
        text,
        { duration: 0.33, opacity: 0, y: "0%" },
        0.66
      );
    });

    //Rules section trigger
    timeline.to("#rules", {
      scrollTrigger: {
        trigger: "#rules",
        start: "top top",
        end: "+=" + (images.length + 1) * window.innerHeight,
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
    });
  });
</script>

<section id="rules" class="bg-dark-900 justify-around overflow-hidden">
  <!-- TODO: Refactor using loop array or separated component [?] ✔️ -->
  <!-- TODO: Add random color picker ✔️ -->
  <!-- TODO: Add rules group (general, chat, profile, thread) ✔️ -->
  <div
    class="rules-text relative break-words w-1/2 h-full bottom-1/6 text-xl sm:text-sm md:text-2xl lg:text-3xl font-black"
  >
    <!-- FIXME: Use safelist -->
    <div
      class="panel-text flex flex-col text-pink-500 text-rose-500 text-red-500 text-orange-500 text-yellow-500 text-amber-500 text-lime-500 text-emerald-500 text-teal-500 text-cyan-500 text-sky-500 text-blue-500 text-indigo-500 text-purple-500 text-violet-500 text-fuchsia-500 text-green-500"
    >
      <div
        class="flex justify-center items-center self-center w-11 h-11 rounded-full bg-red-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 fill-white"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M10 1.944A11.954 11.954 0 012.166 5C2.056 5.649 2 6.319 2 7c0 5.225 3.34 9.67 8 11.317C14.66 16.67 18 12.225 18 7c0-.682-.057-1.35-.166-2.001A11.954 11.954 0 0110 1.944zM11 14a1 1 0 11-2 0 1 1 0 012 0zm0-7a1 1 0 10-2 0v3a1 1 0 102 0V7z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="text-red-500 text-2xl sm:text-2xl md:text-3xl lg:text-4xl">{$t("rule.header")}</div>
    </div>

    {#each rules as rule, i}
      <div class="panel-text flex flex-col text-{colorLookup[i]}-500">
        <div
          class="flex justify-center items-center self-center text-white text-2xl sm:text-md md:text-3xl lg:text-4xl"
        >
          {$t(ruleGroup(rule))}
        </div>
        <div
          class="flex justify-center items-center self-center w-11 h-11 rounded-full bg-white"
        >
          {ruleNum(rule)}
        </div>
        <div>{$t(rule)}</div>
      </div>
    {/each}

    <div class="panel-text flex flex-col">
      <div
        class="flex justify-center items-center self-center w-11 h-11 rounded-full bg-green-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 fill-white"
          viewBox="0 0 20 20"
        >
          <path
            d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
          />
        </svg>
      </div>
      <div class="text-green-500 text-2xl sm:text-2xl md:text-3xl lg:text-4xl">{$t("rule.message")}</div>
    </div>
  </div>

  <img
    class="rules-folder h-2/3 absolute -right-3/6 sm:-right-3/6 md:left-2/3 lg:left-3/4"
    src="./images/dfm-intro-rules.png"
    alt="rules folder"
  />

  <!-- TODO: Replace placeholders. Add images related to rules -->
  <div
    class="rules-img relative overflow-hidden -right-5 h-2/5 w-1/12 sm:w-1/12 md:w-1/6 lg:left-20"
  >
    <div class="panel bg-red-500" />
    {#each rules as rule, i}
      <div class="panel bg-{colorLookup[i]}-500" />
    {/each}
    <!-- FIXME: Use safelist -->
    <div
      class="panel last bg-pink-500 bg-rose-500 bg-red-500 bg-orange-500 bg-yellow-500 bg-amber-500 bg-lime-500 bg-emerald-500 bg-teal-500 bg-cyan-500 bg-sky-500 bg-blue-500 bg-indigo-500 bg-purple-500 bg-violet-500 bg-fuchsia-500 bg-green-500"
    />
  </div>
</section>

<style windi:safelist>
  .panel-text {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
  }

  .panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
