<script>
  import { onMount, getContext } from "svelte";
  import gsap from "gsap";
  import { t, locale } from "../langs/i18n";

  const { getTl } = getContext("tatal");
  const timeline = getTl();

  onMount(() => {
    timeline.to("#welcome .folder", {
      duration: 1,
      scale: 2,
      rotate: 10,
      opacity: 0,
      scrollTrigger: {
        trigger: "#welcome",
        start: "top top",
        end: "+=200%",
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
    });

    let arrow = document.querySelector(".arrow");

    if (arrow) {
      gsap.to(arrow, {
        y: 12,
        ease: "power1.inOut",
        repeat: -1,
        yoyo: true,
      });
    }
  });
</script>

<section
  id="welcome"
  class="flex-col bg-gradient-to-t from-dark-900 to-[#b9212d] inset-0 overflow-hidden"
>
  <div class="flex flex-row absolute top-5">
    <button
      on:click={() => ($locale = "en")}
      class="basis-1/3 rounded-full bg-white pr-5 pl-5 m-1 hover:bg-dark-900 hover:text-white focus:outline-none"
      >English</button
    >
    <button
      on:click={() => ($locale = "ms_Latn")}
      class="basis-1/3 rounded-full bg-white pr-5 pl-5 m-1 hover:bg-dark-900 hover:text-white focus:outline-none"
      >Bahasa Melayu</button
    >
    <button
      on:click={() => ($locale = "ms_Arab")}
      class="basis-1/3 rounded-full bg-white pr-5 pl-5 m-1 hover:bg-dark-900 hover:text-white focus:outline-none"
      >جاوي</button
    >
  </div>
  <img
    class="folder absolute h-2/3 z-10"
    src="./images/dfm-intro-folder-header.png"
    alt="welcome folder"
  />
  <h1 class="basis-full text-white font-bold text-2xl p-5 text-center">
    {$t("welcome.header")}
  </h1>
  <div class="flex flex-col absolute bottom-1/12 overflow-visible">
    <div class="basis-full text-white text-center font-bold font-md uppercase ">
      {$t("welcome.scroll_down")}
    </div>
    <div class="arrow basis-full align-center self-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 self-center stroke-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </div>
  </div>
</section>
