<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import ScrollToPlugin from "gsap/ScrollToPlugin";
  import Scrollbar from "smooth-scrollbar";
  import { onMount, setContext } from "svelte";
  import { t } from "./langs/i18n";

  import Welcome from "./sections/Welcome.svelte";
  import Rules from "./sections/Rules.svelte";
  import Profile from "./sections/Profile.svelte";
  import Post from "./sections/Post.svelte";
  import Radio from "./sections/Radio.svelte";

  let timeline;

  setContext("tatal", {
    getTl: () => timeline,
  });

  onMount(() => {
    gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

    const smoothScroll = Scrollbar.init(document.body, {
      damping: 0.1,
      delegateTo: document,
      alwaysShowTracks: false,
    });

    ScrollTrigger.scrollerProxy(".scroller", {
      scrollTop(value) {
        if (arguments.length) {
          smoothScroll.scrollTop = value;
        }
        return smoothScroll.scrollTop;
      },
    });

    smoothScroll.addListener(ScrollTrigger.update);

    ScrollTrigger.defaults({
      scroller: ".scroller",
      pinType: "transform",
    });

    timeline = gsap.timeline();


    // FIXME: Fix navigation scrollto problem
    /* let links = gsap.utils.toArray("nav a");

    gsap.utils.toArray("nav a").forEach(function (a) {
      a.addEventListener("click", function (e) {
        e.preventDefault();
        timeline.to(".scroller", {
          duration: 1,
          scrollTo: e.target.getAttribute("href"),
          ease: 'none' // important!
        });
      });
    });

    function setActive(link) {
      links.forEach((el) => el.classList.remove("active"));
      link.classList.add("active");
    } */

  });
</script>

<svelte:head>
  <title>{$t("page.title")}</title>
</svelte:head>

<div class="scroller">
  <!-- FIXME: Fix navigation scrollto problem -->
  <!-- <nav class="fixed top-1 right-1 bg-black pl-1 pr-1 z-1">
    <div><a class="text-white hover:text-red-500" href="#welcome">{$t("nav.welcome")}</a></div>
    <div><a class="text-white hover:text-red-500" href="#rules">{$t("nav.rules")}</a></div>
    <div><a class="text-white hover:text-red-500" href="#profile">{$t("nav.profile")}</a></div>
    <div><a class="text-white hover:text-red-500" href="#post">{$t("nav.post")}</a></div>
    <div><a class="text-white hover:text-red-500" href="#radio">{$t("nav.radio")}</a></div>
  </nav> -->
  {#if timeline}
    <Welcome />
    <Rules />
    <Profile />
    <Post />
    <Radio />
  {/if}
</div>

<style windi:preflights:global windi:safelist:global>
</style>
